.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.input-group {
  padding: 0.6rem;
  display: flex;
  gap: 0.5rem;
  flex-flow: column wrap;
  align-items: space-between;
}

.input-group article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.input-group article label {
  color: var(--main-text-color);
}

.input-group article input {
  margin-left: 0.5rem;
}

.actions-group {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
