:root {
  --main-text-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(0,46,99,1) 70%, #0E0E10 100%);
  /* background-repeat: no-repeat; */
}

#root {
  width: 100%;
}